---
import BaseHead from '../components/global/BaseHead.astro';
import Layout from '../layouts/Layout.astro';
import MacTerminal from '../components/global/MacTerminal';
import MobileDock from '../components/global/MobileDock';
import DesktopDock from '../components/global/DesktopDock';
import NotesApp from '../components/NotesApp';

const title = "Akhil Raghav's Portfolio";
const description = "Software Engineer & Full Stack Developer";
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Layout>
      <div class="relative min-h-screen">
        <MacTerminal client:load />
        <div class="md:hidden">
          <div id="mobileNotes" class="fixed inset-0 bg-mac-light dark:bg-mac-dark z-50 hidden">
            <NotesApp client:load />
          </div>
        </div>
        <MobileDock 
          client:load 
          onNotesClick={() => {
            const mobileNotes = document.getElementById('mobileNotes');
            if (mobileNotes) {
              mobileNotes.classList.toggle('hidden');
            }
          }}
        />
        <DesktopDock client:load />
      </div>
    </Layout>
  </body>
</html>
